(
    segment: 1,
    image: "plant1.png",
    lower_anchor: (
        317.0,
        671.0,
    ),
    upper_anchor: (
        320.7,
        577.9,
    ),
    flower_anchors: [
        (
            308.0,
            615.0,
        ),
    ],
)
